

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*JRH page*/
*{
  /*margin: 0px;
  padding: 0px;*/
  box-sizing: border-box;
  
}

.jrh{
  background-color: rgba(0,0,0,0.25);
  
}
.jrh:hover .jrh-img{
  transform: scale(1.08);
}
.jrh-img{
  transition: all 1.0s;
}
.bio{
  font-size: 19px;
  color: white;
  background-color:rgba(0,0,0,0.40);
  padding: 20px;
  text-align: justify;
}

.portfolio{
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
.portfolio h1{
  text-align: center;
  font-size: 38px;
  margin: 15px 0px 40px;

}
.portfolio-container{
  display: flex;
  justify-content: space-between;
}
.portfolio-item{
  width: 30%;
  position: relative;
  overflow: hidden;

}
.portfolio-img{
  transition: all 0.5s;

}
.portfolio-text{
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: rgba(0,0,0,0.5) ;
  color: white;
  transform: translateY(100%);
  transition: all 0.5s ease-out;
}
.portfolio-text p{
  text-align: justify;


}
.portfolio-item:hover .portfolio-text{
  transform: translateY(0%);
}
.portfolio-item:hover .portfolio-img{
  transform: scale(1.15);

}
.nav:hover{
  background-color: #F60909;
  font: #61dafb;
}
.carousel-container{
  width: 60%;
  margin: auto;
  border: 5px solid black;

}
.carousel-slide{
  display: flex;
  width: 100%;
  height: 500px;
}

/*gallery.css*/

.nav:hover{
  background-color: #F60909;
  font: #61dafb;
}
#slider2{
  border: 1px solid rgba(0,0,0,0.25);
}


.container-wrap {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}



.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 { 
  background-image: url('../src/components/pages/Images/maq1.jpeg');
}

.item-2 { 
  background-image: url('../src/components/pages/Images/maq2.jpeg');
}

.item-3 { 
  background-image: url('../src/components/pages/Images/maq3.jpeg');
}

.item-4 { 
  background-image: url('../src/components/pages/Images/maq4.jpeg');
}

.item-5 { 
  background-image: url('../src/components/pages/Images/maq5.jpeg');
}

/* Contact jrh.css*/

body {
  background: url('../src/components/pages/Images/civil2.jpeg');  
  -webkit-background-size: cover;
  background-size: cover ;
  background-attachment: fixed;
  

}
.container .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: #f0c030 ;
  text-align: center;
  padding: 14px 0 ;
}

.container .form .form-header .form-title span {
  color: #fff;
}
.container .form {
  background: rgb(0,0,0,.6);
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.my-5 .log{
  background: rgb(0,0,0,.6);
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 3px;
  color: #fff;

}

.container .form .form-label {
  display: block;
  color: #f0c030 ;
  font-size: 16px;
  font-family: Roboto;
  position: relative;
}
.container .form .form-input, .form-textarea {
background: rgba(0,0, 0,.7);
border: none;
outline: none;
border-bottom: 2px solid #f0c030;
width: 100%;
padding: 12px;
margin-bottom: 20px;
border-radius: 2px;
font-size: 14px;
color: #fff;
font-family: Roboto;

}
.form-input{
  background: rgba(0,0, 0,.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #f0c030;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;

}
.container .form .form-textarea{
  resize: vertical;
  max-height: 30px;
  min-height: 10px;
}
.container .form .btn-submit{
  width: 100%;
  font-family: Roboto;
  outline: none;
  background:black ;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease ;
}
.btn-submit{
  background: rgb(0,0,0,.6);
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 3px;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
  align-items: center;
  border-bottom: 2px solid #f0c030;
  
}
.btn-submit:hover{
  background: #F29718;
  cursor: pointer;
}

.container .form .btn-submit:hover{
   background: #F29718;
}
.nav:hover{
  background-color: #f60909;
}

.text{
 padding: 10px;
 text-align: justify;
 font-size: 25px;
 color: white;
 background-color: rgb(0,0,0,.30);
}
h3{color:black;}

footer{
  padding: 10px;
  background-color: rgb(53, 48, 48);
  height: 100px;
}
.footer{
  color: white;
  text-align: center;
}
#error_message{
  color: white;
}
p1{
  color:red;
}